<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-wG8uHax-ldKs6v_qf9TTOJeaV3kuKBY</string>
	<key>GCM_SENDER_ID</key>
	<string>914260567061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.example</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-bdcd4</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-bdcd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914260567061:ios:1c5e9e0b939af48d7bda1c</string>
</dict>
</plist>